.login-container{
  width: 100%;
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  .login-title{
    h1{
      font-size: 40px;
    }
  }
  .input-container{
    text-align: center;
    div{
      font-size: 20px;
      .label{
        width: 8%;
      }
      *{
        display: inline-block;
      }
    }
  }
  .login-btngroup{
    text-align: center;
    input{
      margin: 20px 10px;
      font-size: 20px;
    }
  }
}