.board-list-item{
  display: table;
  border-bottom: 1px solid black;
  curosr:pointer;
  width: 90%;
  &:hover{
    background-color: #efefef;
  }

  > div{
    display: table-cell;
    width: 10%;
    padding: 5px 10px;

  &:first-child{
    width: 60%
  }
  }
}